<div class="form-inline clearfix">
	<div class="nested-fields">
		<div class="form-group slider-image">
			<h4>Upload Image</h4>
			<label class="btn btn-default">
			Browse&hellip;<%= f.file_field :image, style: 'display: none' %>
			</label>
		</div>
		<div class="form-group slider-text">
			<%= f.text_area :text, class: 'form-control', placeholder: 'Content' %>
		</div>
		<div class="form-group slider-delete">
			<%= link_to_remove_association f, class: 'btn btn-danger btn-block' do %>
				<i class="fa fa-remove"></i> Delete
			<% end %>
		</div>
	</div>
</div>