<div class="row content">
	<div class="col-md-12">
		<h1>Create New Page</h1>
	</div>
</div>
<hr />
<%= render 'form' %>
<script>
  $(function() {
    $('textarea#editor').froalaEditor()
  });
</script>










