<div class="container-fluid footer-wrapper">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<% if Setting.site_name.present? %>
				<p>Copyright@ <%= Setting.site_name %> .All Rights Reserved</p>
			<% end %>
		</div>
	</div>
</div>