<ul>
	<li><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</li>
	<li><i class="fa fa-file-text" aria-hidden="true"></i> Pages</li>
	<li>
		<%= link_to admin_posts_path do %>
			<i class="fa fa-file" aria-hidden="true"></i> Posts</li>
		<% end %>
	<li>
		<%= link_to admin_categories_path do %>
			<i class="fa fa-book" aria-hidden="true"></i> Categories</li>
		<% end %>
	<li><i class="fa fa-user-circle-o" aria-hidden="true"></i> Users</li>
	<li><i class="fa fa-envelope-open" aria-hidden="true"></i> Messages</li>
	<li><i class="fa fa-commenting" aria-hidden="true"></i> Comments</li>
	<li><i class="fa fa-cogs" aria-hidden="true"></i> Settings</li>
</ul>